@charset “UTF-8”;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

a {
text-decoration: none;
color: white;
} 

body {
background-color: black;
}

header {
    color: white;
    font-family: 'Sriracha';
text-align: center;
}

header > h1 {
font-size: 100px;
font-family: 'Passion One';
color: rgb(255, 255, 255);
text-align: center;
padding-top: 40px;
}

section {
font-family: 'Sriracha';
text-align: left;
}

section.outrasestrofes {
    background-color: white;
color: rgb(0, 0, 0);
padding: 20px;
font-size: 60px;
}

p#segundaestrofe {
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    font-size: 60px;
    
}

p#quintaestrofe {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    font-size: 60px;

}