@charset “UTF-8”;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

a {
text-decoration: none;
color: white;
} 

body {
    min-height: 100vh;
background-color: black;
}

header > p {
    color: white;
    font-family: 'Sriracha';
text-align: center;
padding-bottom: 50px;
}

header > h1 {
font-size: 100px;
font-family: 'Passion One';
font-variant: small-caps;
color: rgb(255, 255, 255);
text-align: center;
padding-top: 40px;
}

section {
font-family: 'Sriracha';
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
padding-left: 30px;
}

section.normal {
    background-color: white;
color: rgb(0, 0, 0);
padding: 20px;
font-size: 60px;
}

section.segundaestrofe {
    background-color: black;
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    font-size: 60px;
    
}

section.segundaestrofe > p {
    width: 400px;
background-color: rgba(0, 0, 0, 0.129);
}

section.quintaestrofe > p {
width: 400px;
background-color: rgba(0, 0, 0, 0.305);
}

section.quintaestrofe {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    font-size: 60px;

}